@import (reference) "colors";

/******************************
        Typography
 ******************************/

@default-font-size:               14px;
@default-font-color:              @color-grey-10;
@default-line-height-factor:      1.5;
@default-headline-height-factor:  1.2;
@default-line-height:             @default-font-size * @default-line-height-factor;

/******************************
        Element-Spacing
 ******************************/

@default-font-bottom-margin:      10px;
